<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Superhero app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="boom">
        <img src="assets/images/boom.png" alt="boom">
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button type = "submit" color ="primary" shape = "round" expand = "block" (click)="toLogin()">Log in</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type = "submit" color ="primary" shape = "round" expand = "block" (click)="toRegister()">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
