<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>My superheroes</ion-title>

    <ion-buttons slot="end">
      <ion-fab-button size="small" color="tertiary" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-mysuperhero-element>*ngFor = "let superhero of superheroes" [superhero]="superhero"</app-mysuperhero-element>
</ion-content>
