<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-fab-button size="small" color="tertiary" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary" >
        My superheroes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-title color="primary" size="large" class="title-toolbar"> <b>My superheroes</b></ion-title>
  <app-mysuperhero-element *ngFor = "let superhero of superheroes" [superhero]="superhero"></app-mysuperhero-element>
</ion-content>
