<ion-card>

  <img alt="Superhero" src="{{superhero.imageUrl}}" />
  <ion-card-header>
    <ion-card-title>{{superhero.name}}</ion-card-title>
    <ion-card-subtitle>{{superhero.universe}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="content-text">

    <br>
    Strength: {{superhero.strength}}
    <br>
    <br>
    {{superhero.description}}

  </ion-card-content>
<ion-card-content class="content-icons">
  <ion-icon name="pencil" size="large"  color="secondary" class = "pencil-icon" (click)="updateSuperhero(superhero.id, superhero.name, superhero.description, superhero.strength, superhero.universe, superhero.imageUrl)"></ion-icon>

  <ion-icon name="trash" size="large" color="secondary" (click)="deleteSuperhero(superhero.id)"></ion-icon>
</ion-card-content>
</ion-card>
