<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="white">superheroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Superheroes</ion-title>
    </ion-toolbar>
  </ion-header>



  <app-superhero-element *ngFor = "let superhero of superheroes" [superhero]="superhero"
                        ></app-superhero-element>

</ion-content>
