<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="white">superheroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Superheroes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.superherodb.com/pictures2/portraits/10/100/85.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Marvel universe</ion-card-subtitle>
      <ion-card-title>Ironman</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Iron Man, like knights of old, is identified by the armor he wears. The best-dressed of the Marvel heroes, he has changed his look frequently since his debut in 1963, but he can afford to: the man who wears the suits (and designs them) is wealthy inventor Tony Stark. So the man make the clothes, but do the clothes make the man?

      Not only does Tony Stark have no super powers of his own, but the armor that gives him strength was also created to keep his damaged heart beating; he could not survive without his iron shell. Eventually his cardiac condition was corrected by a heart transplant, and a later that left him paralyzed was repaired with a microchip.
    </ion-card-content>
  </ion-card>

  <app-superhero-element *ngFor = "let superhero in superheroes" [superhero]="superhero"></app-superhero-element>

</ion-content>
