<ion-card>

  <img alt="Superhero" src="{{superhero.imageUrl}}" />
  <ion-card-header>
    <ion-card-title>{{superhero.name}}</ion-card-title>
    <ion-card-subtitle>{{superhero.universe}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="content-text">

    <br>
    Strength: {{superhero.strength}}
    <br>
    <br>
    {{superhero.description}}

  </ion-card-content>
  <ion-card-content class="content-icons">

    <ion-icon name="trash" size="large" color="secondary"></ion-icon>
  </ion-card-content>
</ion-card>
