<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-menu-toggle>
        <img routerLink="/home" src="assets/images/menu-baner.png" alt="Superhero App" style="width: 100%; max-width: none">
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/superheroes">Superheroes</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="openModal()">Add a Superhero</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/favorites">Favorites</ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>


</ion-app>
