<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid>
   <ion-row>
     <ion-col size-sm="6" offset-sm="3">
       <div class="boom">
         <img src="assets/images/boom.png" alt="boom">
       </div>
       <div class="about">
         Superhero App is an interactive app where you can add, update, delete and add superheros to favorites. It is easy to use and really cool. Did you add any superhero yet?<br>
       </div>
     </ion-col>

   </ion-row>

 </ion-grid>

  <ion-tabs content="main-content">
    <ion-tab-bar class="tab-bar">

      <ion-tab-button  routerLink="/mysuperheroes" class="tab-button">
        <ion-icon name="flash"></ion-icon>
        My superheroes
      </ion-tab-button>
      <ion-tab-button routerLink="/favorites" class="tab-button">
        <ion-icon name="star"></ion-icon>
        Favorites
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
