.boom{
  margin-top: 35px;
}

.tab-bar{
  background-color: #123456;
}

.tab-button{
  background-color: #123456;
}

.about{
  margin: 10px;
  font-size: 20px;
  font-family: "Comic Sans MS";
  text-align: center;
  margin-bottom: 20px;
}

